# Entorno de desarrollo
.env
.env.local
.env.*.local

frontend/
backend/backend/__pycache__
backend/restaurant/__pycache__
backend/restaurant/migrations
backend/backend/env.py
backend/restaurant/__pycache__/migrations/__pycache__
backend/restaurant - copia
backend/backend - copia
backend/authorization/__pycache__
backend/authorization/migrations
sistema-de-reservas.code-workspace
