env
.vscode

client
frontend

backend/backend/__pycache__

backend/authorization/__pycache__
backend/authorization/migrations

backend/restaurant/migrations
backend/restaurant/__pycache__
backend/restaurant/views/__pycache__

Pendiente.md